{% extends "::base.html.twig" %}
{% block nav %}
    <ul>
        <li><a href="#">accueil</a></li>
        <li><a href="#">lien</a></li>
        <li><a href="#">lien1</a></li>
    </ul>
    {% include "EcommerceBundle:Default:include.html.twig" %}
{% endblock %}

{% block body %}
    
    <br/>
        ____________________________________________________
    <br />

    {{ "now"|date("d-m-y")}}


    <br />
    ______________________________________
    <br />

{% endblock %}